<footer>
    <section class="footerContainer">
      <nav class="navbar container footer_nav">
        <ul class="navbar__menu footer_Opciones">
          <li class="navbar__item with-submenu"><a href="/shop">SHOP</a></li>
          <li class="navbar__item with-submenu"><a href="/register">REGISTRARSE</a></li>
          <li class="navbar__item with-submenu"><a href="/login">LOGIN</a></li>
          <li class="navbar__item with-submenu"><a href="/contacto">CONTACTO</a></li>
        </ul>
      </nav>
      <picture>
        <img
          src="/images/branding/IsotipoFunkoShop.svg"
          alt="Isotipo de la marca Funkoshop"
        />
      </picture>
    </section>
    <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px;">
      <p>All rights reserved 2023 - Funkoshop &copy;</p>
    </div>
  </footer>
