<header>
    <nav class="navbar container">
      <a href="/">
        <picture class="navbar__logo">
          <!--
          <img
            src="./img/branding/light.svg"
            alt="Isotipo de la marca header"
          />
        -->
          <img
            src="/images/branding/SvgjsG8619.svg"
            alt="Isotipo de la marca header"
            height="40px"
            width="20%"
          />
          <img
            src="/images/branding/SvgjsG8620.svg"
            alt="Isotipo de la marca header"
            height="28px"
            width="20%"
          />
        </picture>
      </a>
      <ul class="navbar__menu">
        <li class="navbar__item with-submenu">
          <a class="navbar__link with-icon" href="/shop"
            >SHOP<iconify-icon icon="mdi:chevron-down"></iconify-icon
          ></a>
          <ul class="submenu">
            <li class="submenu__item">
              <a href="" class="submenu__link">Funkos</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">Remeras</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">LLaveros</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="navbar__link" href="/contacto"
            >CONTACTO</a
          >
        </li>
        <li>
          <a class="navbar__link" href="/login">LOGIN</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__cart" href="/cart"
            ><img src="/images/icons/cart-icon.svg" alt="ícono de carrito" />
          </a>
        </li>
      </ul>
    </nav>
  </header>