<!DOCTYPE html>
<html lang="en">
  <%-include("partials/head")%>
  <body>
    <%-include("partials/header")%>
    <main >
        <div>
          <div>
              <h1>Contacto</h1>
          </div>
        </div>
    </main>
    <%-include("partials/footer")%>
  </body>
</html>
