<!DOCTYPE html>
<html lang="en">
  <%-include("partials/head")%>
  <body>
    <%-include("partials/header")%>
    <main >
        <div class="contenedor">
            <h1 class="titulo"><%=mensajeError %></h1>
            <img src="/images/PerroSorprendido.jpg" alt="Imagen de error en la pagina">
        </div>        
    </main>
    <%-include("partials/footer")%>
  </body>
</html>
